@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

//fonts and colours

$font1: "Roboto", sans-serif;
$colour1: aqua;
$colour2: aliceblue;

// vars
$ancho: 100%;
$alto:10%;

*{
margin:0;
padding:0;
box-sizing:border-box;}

html{
    scroll-behavior: smooth;
}
.logo {
    float:left ;
}
.logo span{
    color: $colour1;
}
.navbar-brand span{
    color: $colour1;
}

.nav-item{
    text-align: center;
}
.nav-item :hover{
    background-color: $colour1;
    color:black !important;
}
.jumbotron{
    height: 40vh;
    margin-bottom: 0%;
}
.botonera{
    height: 30%;
    display: grid;
    justify-content: space-between;
}
.botonera a{
    font-size: large;
color: black;
text-decoration: none;
text-transform: capitalize;
background-color: rgba(5, 247, 247, 0.339);
padding: 10px;
}
.botonera a:hover{
    color: $colour2;
    background-color: gray;
}
.botonera a:active{
    border : 2px solid $colour1;
}
.fondo{
    height: 100vh;
    width: $ancho;
    background-color: black;
    background-image: url(./IMGG/EE63E898-19F5-46BA-BD10-958F450C6259_1_105_c.jpeg);
    background-size: cover;
    background-position: center;
}
h4{
    text-align: center;
    color: $colour1;
}
.f-dire{
    background-color: $colour2;
    color: black;
}

.f-enlaces{
    background-color: black;
}
.f-enlaces a{
    color: #fff;
    text-decoration: none;
}
.f-enlaces ul li{
    list-style: none;
}
.f-enlaces a:hover{
    color: $colour1
}
.f-mapa{
    background-color: black;
}
.barra{
    float: right ;

}
.barra ul li{
    list-style: none;
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color:black
}
.barra a:hover{
    color: $colour1
}

footer {
    margin-top: 0%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: $font1;

}
footer i{
    margin-top: 5px;
    font-size: 30px;
    letter-spacing: 10px;
}
#pf{color: blue;}
#pt{color: cyan;}
#pi{color: orange;}

.subir{
    height: 5%;
    width: 6%;
    background-color: $colour1;
    color: black;
    position: fixed;
    right: 20px;
    bottom: 15px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 10px white;
}

@import"_nosotros.scss";

.repair{
    background-image: url(./IMGG/pexels-energepiccom-288479.jpg);
    height: calc(100vh - 190px);
    width: $ancho;
    background-size: cover;
    background-position: center;
    float: center;
}
h3{
    background-color: black;
    color: $colour2;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

#presupuestar{
    background-color: $colour1;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    float: right;
}

H2{
    background-color: $colour2;
    text-align: center;
    text-transform: capitalize;
    margin :0%;
    padding: 25px;
}
.titulo-nice {
    background-color: $colour2;
    text-align: center;
}
.titulo-nice a{
    color: black;
    background-color: $colour1;
    padding: 10px 20px;
}


@import"_productos.scss";

@import"_servicios.scss";

h5{
    color: #010101;
    padding: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.consulta{
    background-color: black;
    color: #fff;
    padding: 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
    text-align: center;
}
iframe{
height: auto;
width: auto;
}
.redes2{
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;}

    ::-webkit-scrollbar-track{
background-color: black;
    }

    ::-webkit-scrollbar-thumb{
        background-color: $colour1;
    }